---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import MobileMenu from '../components/MobileMenu.astro';
import Hero from '../components/Hero.astro';
import OurVision from '../components/OurVision.astro';
import CoreValues from '../components/CoreValues.astro';
import Portfolio from '../components/Portfolio.astro';
import HowWeWork from '../components/HowWeWork.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout
  title="Tworzenie Stron Internetowych dla Firm | Vexor Designs"
  description="Projektujemy strony internetowe, sklepy WooCommerce i aplikacje webowe dla firm w Polsce. Szybka realizacja, pełne wsparcie techniczne, wycena w 24h."
  canonicalURL="https://vexordesigns.pl/"
  ogImage="https://vexordesigns.pl/og-image.jpg"
>
  <Navbar />
  <MobileMenu />
  <main>
    <Hero />
    <OurVision />
    <CoreValues />
    <Portfolio />
    <HowWeWork />
    <ContactCTA />
  </main>
  <Footer />
</Layout>
